* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white: #ecebeb;
  --black: #0d0d0d;
  --pending: rgb(247, 162, 43);
  --green: #208a18;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flexbox;
}
header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin: 20px;
}
.logo {
  font-size: 16px;
}
.main-menu ul {
  display: flex;
  list-style: none;
  background-color: var(--green);
  width: 500px;
  border-radius: 16px;
  padding: 5px;
  margin-top: -5px;
}
.main-menu ul li {
  padding: 0 44px;
  justify-content: center;
}
.others {
  display: flex;
}
.other-buttons i {
  border: 1px solid var(--black);
  width: 30px;
  height: 30px;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  margin-top: -10px;
}
.usr-prof {
  display: flex;
  background-color: var(--green);
  margin-top: -8px;
  padding: 0 10px;
  border-radius: 16px;
  margin-left: 10px;
}
.usr-prof img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 8px;
}
.usr-prof p {
  font-size: 14px;
  padding: 0 5px;
  text-align: center;
  align-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.upper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 16px;
}
.upper h1 {
  font-size: 40px;
}
.upper i {
  margin-left: 40%;
  margin-top: 18px;
  font-size: 24px;
  color: var(--green);
  cursor: pointer;
}
.analytic-view {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  margin: auto;
  width: 100%;
  justify-content: center;
}
.charts {
  width: 50%;
  height: 20em;
  background-color: var(--green);
  border-radius: 12px;
}
.track-history {
  background-color: var(--green);
  color: var(--black);
  border-radius: 12px;
  margin-left: 16px;
  width: 28%;
  height: 160px;
}
.fix {
  display: flex;
}
.track-history h2 {
  font-size: 16px;
  padding: 18px 18px 12px;
}
.track-history p {
  font-size: 12px;
  padding: 0 18px;
}
.track-history h3 {
  font-size: 14px;
  padding: 0 18px;
}
.track-history .status {
  font-size: 10px;
  margin-left: 100px;
}
.pending {
  color: var(--pending);
  font-weight: bold;
  font-size: 14px;
}
.order-info {
  display: flex;
  padding: 10px 0 0 14px;
}
.order-info i {
  font-size: 26px;
  background-color: #256d20;
  padding: 6px;
  border-radius: 8px;
}
.order-info h3 {
  font-weight: light;
}
.recent-activities {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}
.filters {
  display: flex;
  flex-direction: row;
}
.filters ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 16px;
  margin-top: 8px;
}
.filters ul li {
  margin-right: 30px;
  cursor: pointer;
}
.filters ul li:hover,
.filters ul li:active {
  border-bottom: 3px solid var(--black);
  border-radius: 2px;
}
.Activities table {
  width: 70%;
  margin-top: 10px;
}
.Activities table th {
  background-color: var(--green);
  border: none;
}
.Activities table td {
  text-align: center;
}
